version: '3.8'

services:
  backend:
    build: ./backend
    container_name: codehub-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/codehub
    env_file:
      - ./backend/.env # Loads other secrets like API keys
    depends_on:
      - mongo
    restart: always

  frontend:
    build: ./frontend
    container_name: codehub-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  mongo:
    image: mongo:latest
    container_name: codehub-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
